[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
pydantic = "*"
sqlmodel = "*"
asyncpg = "*"
pydantic-settings = "*"
greenlet = "*"
alembic = "*"
passlib = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.13"
